.btn{
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 3px;
    border: 0;
    cursor: pointer;
    font-size: 0.95em;
}

.btn:first-of-type{
    margin-left: 0;
}

.btn:last-of-type{
    margin-right: 0;
}

.btn-primary{
    background-color: $primary-bg-color;
    color: $primary-color;

    &:hover{
        background-color: $primary-bg-color-hover;
        color: $primary-color-hover;
    }
}

.btn-secondary{
    background-color: $secondary-bg-color;
    color: $secondary-color;

    &:hover{
        background-color: $secondary-bg-color-hover;
        color: $secondary-color-hover;
    }
}

.btn-link{
    background-color: inherit;
    color: $link-color;
}