html, body, #root, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body, input, textarea, button {
    font-family: sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

#app {
    display: flex;
    flex-direction: row;
}

#app.dark, #app.dark a, #app.dark textarea, #app.dark input, #app.dark .export > div, #app.dark .presentation {
    background-color: #252526;
    color: rgba(255, 255, 255, 0.74902);
}