$primary-bg-color:     #2A7451;
$primary-color:     #d6d6d6;
$primary-bg-color-hover:     #42965e;
$primary-color-hover:     #d6d6d6;

$secondary-bg-color:     #6b6b6b;
$secondary-color:     #f1f1f1;
$secondary-bg-color-hover:     #404040;
$secondary-color-hover:     #A1A1A1;

$link-color: #404040;