$primary-bg-color:     #2A7451;
$primary-color:     #2A7451;
$primary-bg-color-hover:     #AACBB5;
$primary-color-hover:     #D1D1D1;

$secondary-bg-color:     #6b6b6b;
$secondary-color:     #BBBBBB;
$secondary-bg-color-hover:     #404040;
$secondary-color-hover:     #A1A1A1;

$link-color: #404040;