html, body, #root, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body, input, textarea, button {
    font-family: sans-serif;
    font-size: 16px;
}

#app {
    display: flex;
    flex-direction: row;
}

#sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
}

#list {
    flex-grow: 1;
    overflow-y: scroll;
}

#list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listitem {
    height: 100px;
    min-height: 100px;
    overflow: hidden;
    border-bottom: 1px solid black;
    padding: 5px;
}

#sidebarbuttons {
    padding: 20px;
}

#detailscontainer {
    height: 100%;
    width: 100%;
}

#details {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#detailspreview {
    flex-grow: 1;
    padding: 0 20px;
    overflow: hidden;
}

#edit {
    padding: 0 20px;
}

.formgroup {
    width: 100%;
    margin-bottom: 20px;
}

button {
    margin: 0;
    padding: 5px;
    margin-right: 10px;
}

input, textarea {
    width: 100%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

textarea {
    height: 200px;
    resize: none;
}

#details .preview .content {
    font-size: 3rem;
}

#sidebar .preview .content {
    font-size: 0.5rem;
}