.list-item{
    height: 110px;
    min-height: 110px;
    overflow: hidden;
    border: 1px solid rgba(42, 116, 81, 0.33);
    padding: 5px;
    margin: 2px;
    box-sizing: border-box;
    position: relative;

    .selected{
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0.8em 0.8em 0;
        border-color: transparent rgba(36, 158, 77, 0.25) transparent transparent;
        position: absolute;
        top: 0;
        right: 0;
    }
}