.slides-list{
    flex-grow: 1;
    overflow-y: scroll;

    ul {
        list-style-type: none;
        margin: 2px;
        padding: 0;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: rgba(42, 116, 81, 0.27);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #2a7451;
        border-radius: 2px;
    }
}