html, body, #root, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body, input, textarea, button {
    font-family: sans-serif;
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

#app {
    display: flex;
    flex-direction: row;
}

#sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    border-right: 3px solid black;
}

#list {
    flex-grow: 1;
    overflow-y: scroll;
}

#list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listitem {
    height: 100px;
    min-height: 100px;
    overflow: hidden;
    border-bottom: 1px solid black;
    padding: 5px;
}

#sidebarbuttons {
    padding: 20px;
    border-top: 3px solid black;
}

#header {
    padding: 20px;
    border-bottom: 3px solid black;
}

#detailscontainer {
    height: 100%;
    width: 100%;
}

#details {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#detailspreview {
    flex-grow: 1;
    padding: 0 20px;
    overflow: hidden;
    border-bottom: 3px solid black;
}

#edit {
    padding: 20px 20px 0 20px;
}

.formgroup {
    width: 100%;
    margin-bottom: 20px;
}

button {
    margin: 0;
    padding: 5px;
    margin-right: 10px;
}

input, textarea {
    width: 100%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

textarea {
    height: 200px;
    resize: none;
}

#details .preview .content {
    font-size: 3rem;
}

#sidebar .preview .content {
    font-size: 0.5rem;
}

#export {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#export > div {
    width: 75%;
    padding: 50px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
}

#export textarea {
    height: 400px;
    margin-bottom: 10px;
}